<% content_for :js do %>

	var timep = new RegExp("\\b[012][0-9]:[0-5][0-9]\\b");
	var datep = new RegExp("\\b[0123][0-9]\\.[01][0-9]\\.[0-9]{4}\\b");
 
	function checkdate(){
		if( timep.test($("#time_begin").val()) && datep.test($("#date_begin").val()) &&
				timep.test($("#time_end").val()) && datep.test($("#date_end").val()) ){
			return true;
		}
		else{
			$( '#error' ).empty();
			$( '#error' ).html( "Falsches Datumsformat: erwartet <i>hh:mm</i> <br> TT:MM:JJJJ z.B. 10:35 01.09.2011" );
			return false;
		}
	};

<% end %>


<% content_for :ready do %>

	$('.time-pick').timepicker({
		'timeFormat': 'H:i',
		'minTime': '00:00',
		'maxTime': '23:45',
		'step': 15,		
		'showDuration': false
	});

	$(function() {
		$( ".date-pick" ).datepicker( $.datepicker.regional['de'] ); 
	});

<% end %>


<div id='error' style='color: red; border: 2 solid red;'></div>


<h1>Termin</h1>

<%= form_for @termin do |termin| %>
	<div class="div-table edit-termin">
		<div class="div-row">
			<div class="div-cell edit-termin">
				<label>Autor:</label>
			</div>
			<div class="div-cell edit-termin">
				<%= termin.select :autor, options_for_select( TermineController::AUTOREN, "Gerold" ) %>
			</div>
		</div>
		<div class="div-row">
			<div class="div-cell edit-termin">
				<label>Thema:</label>
			</div>
			<div class="div-cell edit-termin">
				<%= termin.text_field :thema, :value => @termin.thema, :size => 50 %>
			</div>
		</div>
		<div class="div-row">
			<div class="div-cell edit-termin">
				<label>Zeit:</label>
			</div>
			<div class="div-cell edit-termin">
				<div class="div-table">
					<div class="div-row">
						<div class="div-cell">
							<label>Beginn</label>
						</div>
						<div class="div-cell">
							<%= termin.text_field :time_begin, :id => "time_begin", :class=> "time-pick", :value => @termin.beginn.strftime("%H:%M"), :size => 5 %>
							<%= termin.text_field :date_begin, :id => "date_begin", :class=> "date-pick", :value => @termin.beginn.strftime("%d.%m.%Y"), :size => 10 %>
						</div>
					</div>
					<div class="div-row">
						<div class="div-cell">
							<label>Ende</label>
						</div>
						<div class="div-cell">
							<%= termin.text_field :time_end, :id => "time_end", :class=> "time-pick", :value => (@termin.ende).strftime("%H:%M"), :size => 5 %>
							<%= termin.text_field :date_end, :id => "date_end", :class=> "date-pick", :value => (@termin.ende).strftime("%d.%m.%Y"), :size => 10 %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	

	<p>
		<%= submit_tag( "sichern", :id => "sichern", :onclick => 'return checkdate();' ) %>   

		<%= link_to 'abbrechen', :action => 'index', :Jahr => @termin.beginn.year, :Monat => @termin.beginn.month, :Tag => @termin.beginn.day %>
		
		<% if @is_edit %>
			<%= link_to 'löschen', @termin, :confirm => "Termin: " + @termin.thema + @termin.beginn.strftime(" %H:%M-") + @termin.ende.strftime("%H:%M ") + "löschen?", :method => 'delete' %>
		<% end %>
	</p>
<% end %>

