<% content_for :js do %>

	var timep = new RegExp("\\b[012][0-9]:[0-5][0-9]\\b");
	var datep = new RegExp("\\b[0123][0-9]\\.[01][0-9]\\.[0-9]{4}\\b");
 
	function checkdate(){
		if( timep.test($("#time_begin").val()) && datep.test($("#date_begin").val()) &&
			timep.test($("#time_end").val()) && datep.test($("#date_end").val()) ){
			return true;
		}
		else{
			$( '#error' ).empty();
			$( '#error' ).html( "Falsches Datumsformat: erwartet <i>hh:mm</i> <br> TT:MM:JJJJ z.B. 10:35 01.09.2011" );
			return false;
		}
	};

<% end %>


<% content_for :ready do %>
	
	$('.time-pick').timepicker({
		'timeFormat': 'H:i',
		'minTime': '00:00',
		'maxTime': '23:45',
		'step': 15,		
		'showDuration': false
	});
	
	$(function() {
		$( ".date-pick" ).datepicker( $.datepicker.regional['de'] ); 
	});
	
<% end %>


<h1>Termin</h1>

<%= form_for @termin, :url => { :action => :update, :id => @termin.id, :kjahr => @kaldatum.year, :kmonat => @kaldatum.month, :ktag => @kaldatum.day } do |termin| %>
	<div class="div-table" style="border:1px solid #111111; border-spacing:0px">
		<div class="div-row">
			<div class="div-cell">
				<label>Autor:&nbsp</label>
			</div>
			<div class="div-cell">
			  <%= termin.select :autor, options_for_select( TermineController::AUTOREN, @termin.autor  ) %>
			</div>
		</div>
		<div class="div-row">
			<div class="div-cell">
				<label>Thema:&nbsp</label>
			</div>
			<div class="div-cell">
				<%= termin.text_field :thema, :value => @termin.thema, :size => 50 %>
			</div>
		</div>
		<div class="div-row">
			<div class="div-cell">
				<label>Zeit:&nbsp</label>
			</div>
			<div class="div-cell">
				<table class="blank">
					<tr>
						<td class="blank">
							<label>Beginn&nbsp</label>
						</td>
						<td class="blank">
							<%= termin.text_field :time_begin, :id => "time_begin", :class=> "time-pick", :value => @termin.beginn.strftime("%H:%M"), :size => 5 %>
							<%= termin.text_field :date_begin, :id => "date_begin", :class=> "date-pick", :value => @termin.beginn.strftime("%d.%m.%Y"), :size => 10 %>
						</td>
					</tr>
					<tr>
						<td class="blank">
							<label>Ende&nbsp</label>
						</td>
						<td class="blank">
							<%= termin.text_field :time_end, :id => "time_end", :class=> "time-pick", :value => @termin.ende.strftime("%H:%M"), :size => 5 %>
							<%= termin.text_field :date_end, :id => "date_end", :class=> "date-pick", :value => @termin.ende.strftime("%d.%m.%Y"), :size => 10 %>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<p>
		<%= submit_tag( "sichern", :id => "sichern", :onclick => 'return checkdate();' ) %>

		<%= link_to 'abbrechen', :action => 'index', :Jahr => @kaldatum.year, :Monat => @kaldatum.month, :Tag => @kaldatum.day %>   

		<%= link_to 'löschen', @termin, :confirm => "Termin: " + @termin.thema + @termin.beginn.strftime(" %H:%M-") + @termin.ende.strftime("%H:%M ") + "löschen?", :method => 'delete' %>
	</p>

<% end %>

